[submodule "RestInterface/Bindings/caffa-Java"]
	path = RestInterface/Bindings/Java
	url = https://github.com/lindkvis/caffa-Java.git
[submodule "RestInterfaceBindings/Python"]
	path = RestInterface/Bindings/Python/caffa
	url = https://github.com/lindkvis/caffa-python.git

[submodule "DataModel"]
	path = DataModel
	url = https://github.com/lindkvis/caffa-data-model.git
