[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "ThirdParty/GSL"]
	path = ThirdParty/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "GrpcInterface/Protos"]
	path = GrpcInterface/Protos
	url = git@github.com:lindkvis/caffa-GrpcProtos.git
[submodule "ThirdParty/stduuid"]
	path = ThirdParty/stduuid
	url = https://github.com/mariusbancila/stduuid.git
